body{

}
header{
	
}
header img{
	width:45%;
	margin-left:5%;
		
}
#butonlar{
	float:right;
	margin-top:15%;
	margin-right:30%;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#butonlar a {
	font-size:2em;
}
a.buton{
    background:white;
    padding:20px 20px;
    text-decoration:none;
    color:red;
    font:bold 20px Arial,sans-serif;
}
a.buton:hover{
    background-color:red;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	color:black;
}
#menu ul{
	list-style-type:none;
	color:blue;
	font-family:arial,sans serif; 
	text-decoration:none;
	width:100%;
}
#menu ul li{
	list-style-type:none;
	float:left;
	padding:15px;
	list-style-type:none;
	margin-left:5px;
	font-family:arial,sans-serif;
	font-size:25px;
	
}
#menu ul li:hover{
	background-color:black;
}
#menu ul li a{
	color:orange; 
	text-decoration:none; 
	font-size:1em;
}
#menu ul li a:hover{
	color:red; 
}
#menu{
	width: 65%;
	height:60px;
	font-weight:bold;
	margin:0 auto;
	margin-top:50px;
	
	
}


#container { 
width: 80%; 
height:auto;
margin:0 auto;
margin-top:25px;
height:100%;

}

#ic_bolme_sol{
	float:left;
	padding:20 px;
}

#content{
	width:30%;
	height:auto;
	margin-left:25%;
}
#ic_bolme_sag{
	float:right;
	padding:20 px;
}

/*.ic_bolme{
    float:left;
    width:250px;
    height:650px;
    margin-right: 10px;
    margin-left: 30px;
	padding-left:80px;
}
*/
h3{
	font-size:20px;
	font-family:arial,sans-serif;
	font-weight:bold;
	color:#f86207;
}
a{
	color:#f86207;
	text-decoration:none; 
}
a:hover{
	color:red;
}
.footer{
	background-color:#d5d5d1;
	width:100%;
	height:200px;
	float:left;
	margin-bottom:0px;		
}
.footer ul{
	list-style-type:none;
	font-family:Mistral,arial,sansserif;
	float:left;
}
.footer ul li{
	list-style-type:none;
	float:left; 
	padding:20px; 
	margin-left:180px; 
	margin-top:40px;
}
.footer ul li:hover{
	background-color:white;
}
.footer ul li a{
	font-weight:bold;
	font-size:25px;
	color:#606058; 
	text-decoration:none; 
}
.footer ul li a:hover{
	color:#ad1616; 
}
h4{
	width:40%;
	
	font-family:MinionPro,Mistral,Arial;
	font-size:25px;
}